{% load static %}


<!-- Bootstrap Css Styles -->
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.css' %}" >
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap-grid.css' %}" >
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap-grid.min.css' %}" >
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap-reboot.css' %}" >
<link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap-reboot.min.css' %}" >
<link rel="stylesheet" href="{% static 'style.css' %}" >
